
<form action='/listings' method='post'>
  <input type='text' name='Title' placeholder='Title'>
  <input type='text' name='Description' placeholder='Description'>
  <input type='text' name='Price' placeholder='Price'>
  <input type='submit' name='Submit'>
</form>