 <h2> <img src="/images/all_listings.jpg" alt="Frog Icon" style="width:70px;height:70px;"> Available LilyPads </h2>

<ul>
  <% @listings.each do |listing| %>
    <li>
    <%= listing.username %>
    </br>
    </br>
    <b> <%= listing.title %> </b>
    </br>
    </br>
    <%= listing.description %>,
    </br>
    </br>
    £<%= listing.price %> 
    _______________________________________________________________________________
    </br>
    </br>
    </li>
  <% end %>
</ul>

<a href='/'>Home</a> 

