<h2>  <img src="/images/coolguy.jpg" alt="Frog Icon" style="width:100px;height:100px;"> New LilyPad</h2>

<form action='/listings' method='post'>
  <input type='text' name='title' placeholder='Title'>
  <input type='text' name='description' placeholder='Description'>
  <input type='text' name='price' placeholder='Price (£)'>
  <input type='submit' name='Submit'>
</form>

<a href='/'>Home</a> 